body {
    background-color: #f0e68c; /* Light yellow background */
    color: #333; /* Dark text color */
    font-family: 'Arial', sans-serif; /* Font style */
}

header {
    background-color: #f9c74f; /* Header background color */
    color: #fff; /* Header text color */
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

nav button {
    background-color: #f9844a; /* Button background color */
    color: white; /* Button text color */
}

nav button:hover {
    background-color: #f3722c; /* Button hover color */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc; /* Table border color */
}

th {
    background-color: #f9c74f; /* Table header background color */
    color: white; /* Table header text color */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Even row background color */
}

tr.highlight {
    background-color: #ffcc00; /* Highlighted row color */
}

button.addBtn {
    background-color: #90be6d; /* Add button color */
}

button.addBtn:hover {
    background-color: #66bb6a; /* Add button hover color */
}

button.editBtn {
    background-color: #577590; /* Edit button color */
}

button.editBtn:hover {
    background-color: #3d5a99; /* Edit button hover color */
}

button.deleteBtn {
    background-color: #f94144; /* Delete button color */
}

button.deleteBtn:hover {
    background-color: #f3722c; /* Delete button hover color */
}